<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBConnection" value="Server=DESKTOP-4O0PI57\SQLEXPRESS;
                    Database=port_management;Integrated Security=true;TrustServerCertificate=true;" />
		<add key="Master" value="Ship" />
		<add key="MasterPK" value ="id_ship"/>
		<add key="Details" value="Passenger" />
		<add key="ForeignKey" value="id_ship" />
	</appSettings>
</configuration>